[2017-08-04 20:03] allthesignals opened #2 "component options should be named the same as mapbox gl's api"
This component takes options for this like "paint" but they are called "paintOptions". It'd be more intuitive if these option names matched what they're called in Mapbox GL: https://www.mapbox.com/mapbox-gl-js/example/geojson-polygon/.

*Update*

Our priorities for this repo are:

We've identified the need to allow these components to accept an opaque `options` object:
 - [x] mapbox-gl-layer (curr

[2017-08-04 20:16] allthesignals opened #3 "Pass bounds into main mapbox-gl component"
Similar to https://github.com/miguelcobain/ember-leaflet, we should be able to pass live `bounds` property to the mapbox-gl-component:

[code]

Where bounds can be any array of 2 arrays or a [LatLngBounds object](https://www.mapbox.com/mapbox-gl-js/api/#lnglatbounds).

[2017-08-05 21:19] allthesignals opened #4 "Add documentation with ember-cli-addon-docs"
See here: https://ember-learn.github.io/ember-cli-addon-docs/#/.

I would also love to see a step-by-step getting started guide similar to ember-leaflet: http://www.ember-leaflet.com/docs. Having plenty of examples will help onboard people more.

 - [ ] Documentation site
 - [x] Improved README

[2017-08-05 21:39] allthesignals commented on #3
This can be accomplished like this:
[code]

Updating `bounds` will also trigger `fitBounds` again 👍.

This solves the problem in the issue, so it's now just an API design question.

[2017-08-05 21:41] allthesignals opened #5 "map.on 'load' component never gets triggered"
I tried inserting `{{map.on 'load' (action 'handleMapLoad')}}` within the `mapbox-gl` block, but no luck - the action is never triggered.

[2017-08-05 21:42] allthesignals commented on #5
@kturney: "...load will never fire because the map component doesn't yield until load fires, but you can set a mapLoaded action on the map component that will get the map right before yield."

The following works, passes the map instances to the action:
[code]

[2017-08-05 21:43] #5 closed, assigned to nobody

[2017-08-05 22:48] danielthall commented on #2
Any opposition to mapbox-gl-layer taking an opaque `options` object that just passes on? I just did this for mapbox-gl-source, and is fairly straightforward. Should keep us closer to mapbox going forward. I can merge in `paintOptions` and `layoutOptions` if they are passed so we stay backward compatible.

[2017-08-05 23:04] allthesignals commented on #2
@danielthall I think that's great, right now I believe the property is called `initOptions`, so an alias would be nice (that was the first thing I tried). Without it, people will have to configure style through `environment.js` which is bit of a non-starter. Can we see a PR? I think it'd help move the needle on this issue.

In general, however, I'd argue for no general options property but simply

[2017-08-05 23:11] allthesignals opened #7 "Multiple arguments for map.on component"
MapboxGL allows the below documented behavior:
[code]

This helps target events to specific layers. A workaround in ember-mapbox-gl is to handle layer selection through `queryRenderedFeatures`:
[code]

If our strategy is to mimic MapboxGL's API as closely as possible, perhaps mapbox-gl-on should allow multiple arguments through spread syntax, expecting a function as the last option.

[2017-08-05 23:16] danielthall commented on #2
@allthesignals Yeah, I could go either way. The only reason I like the `options` hash route, is so we can more or less have parity with Mapbox without having to keep up with every attribute they may decide to add.

That said, it makes it harder for us to test that our addon actually _works_. Selfishly, I'd like to propose the options hash as a short term solution (I need to add `filter` to a `laye

[2017-08-05 23:22] kturney commented on #2
So the way I see it. We add the maximum power API so no one is ever blocked in using a feature. However, that doesn't preclude us from adding necities on top that layer on to the power user API. So for now I say @danielthall starts with the power API and we can add the nice API later. What do y'all think?

[2017-08-05 23:23] allthesignals commented on #2
I'll make a list for these other layers and revise this issue to be more specific of an ask.

I won't belabor the point because I think you're right that it should just be `options` (more intuitive + good documentation will take care of it!), but out of curiosity I'm guessing this is because Ember components don't distinguish between properties passed explicitly from outside the component and prop

[2017-08-05 23:36] kturney commented on #2
I thinks it's mainly so changes to the mapbox API require minimal changes
to the ember bindings.

On Sat, Aug 5, 2017 at 6:23 PM Matt Gardner <notifications@github.com>
wrote:

[2017-08-06 01:15] allthesignals opened #9 "mapbox-gl-layer should support 'before' parameter for layer ordering"
MapboxGL's [`addLayer`](https://www.mapbox.com/mapbox-gl-js/api/#map#addlayer) function accepts two arguments, an options hash and a `before` string. `before` indicates the order in which a layer is rendered. If left blank, it adds it to the end of the layers array.

Proposed solution is to add a parameter for the component `before` and pass it if it's defined. Spread syntax would work here to avo

[2017-08-06 01:57] chriswhong commented on #2
Just hit this now, I want to use `minzoom` but there's no way to do it since `options` that gets passed to `addLayer` only includes:
[code]

+1 on just allow for creating a layer configuration object the way you would when using `addLayer()` normally, it makes the implementation simpler since you don't split it up at all, just pass it along to `addLayer`.  `addLayer will let you know if you forgot

[2017-08-06 01:58] chriswhong commented on #9
+1, we chose to migrate to mapboxGL on [this ember project](https://github.com/nycplanning/labs-community-portal/) specifically so we could take advantage of putting data layers underneath labels.

[2017-08-06 02:00] chriswhong commented on #2
Also, it would be nice to make my own layer ids instead of `guid`ing them... not sure if I missed something but want to be able to `queryRenderedFeatures` and need an easy name to call.

[2017-08-06 02:04] allthesignals commented on #2
@chriswhong I think layer id is set on the layer component with `id=`.

For `mapbox-gl-layer` options, we could use [assign](https://emberjs.com/api/ember/2.14/namespaces/Ember/methods?anchor=assign), as it's also used in the  [`mapbox-gl` component](https://github.com/kturney/ember-mapbox-gl/blob/master/addon/components/mapbox-gl.js). I think it makes sense to provide defaults, but allow override

[2017-08-06 02:28] allthesignals opened #10 "mapbox-gl-layer API should follow Mapbox layer specification"
MapboxGL implements their [layer specification](https://www.mapbox.com/mapbox-gl-js/style-spec/#layers), which includes a number of properties that are missing from the ember component.

The ember component for a Mapbox layer includes:
 - [x] id
 - [x] type
 - [x] source
 - [x] layout
 - [x] paint
 - [ ] metadata
 - [ ] ref
 - [ ] source-layer
 - [ ] minzoom
 - [ ] maxzoom
 - [ ] filter

One appro

[2017-08-06 21:17] danielthall commented on #2
Here's a thought-

What if we stick with the opaque object path, but name the properties the same as in the Mapbox api? Example:

`mapbox-gl-source` as of my PR yesterday takes an `options` object, but Mapbox's docs call for an `id` and `source` object. [Mapbox Docs](https://www.mapbox.com/mapbox-gl-js/api/#map#addsource). We could still make `id` optional , and generate one if it's not passed.

*

[2017-08-06 21:35] allthesignals commented on #2
@danielthall yes, this is the approach I endorse - I like the idea of sticking to the parameter names as they're defined in the documentation.

My instinct was to have something like this:
[code]

But that doesn't make sense because the documentation specifies only 2 arguments for addLayer :) this would awkwardly flatten the layer object parameter with the other allowed parameters.

So, let's stic

[2017-08-06 23:25] danielthall commented on #2
I can likely work on these this week. How do we feel about `initOptions` vs `options`? cc: @kturney

[2017-08-07 02:06] danielthall commented on #2
Started a `mapbox-api-unification` branch for all of this work. I'd like to get it all in one big PR, so I'll be commiting to that branch.

Anyone want to take a look at the [first commit](https://github.com/kturney/ember-mapbox-gl/commit/b3b4abb76cd8865da20c780c700da0169a50c898)? Comments, edits and suggestions welcome

[2017-08-07 04:06] allthesignals commented on #2
@danielthall fantastic - I can take a look tomorrow. Happy to see this effort coming together.

Would also appreciate review of my PR here: https://github.com/kturney/ember-mapbox-gl/pull/11. cc @kturney, though it may become redundant with changes made inside `mapbox-api-unification`.

Thanks, folks!

[2017-08-07 04:54] danielthall commented on #2
@allthesignals I think it will be accomplished with `mapbox-api-unification`. I'm happy to get your PR merged in the meantime if it is critical for your project.

I did miss adding the `id` property, but can get that in to my branch.

[2017-08-08 00:51] #7 closed, assigned to nobody

[2017-08-09 15:14] #9 closed, assigned to nobody

[2017-08-09 21:09] chriswhong opened #15 "How do you handle map.on('load')?"
I tried:

[code]
but my handleLoad action never fires...

What I really want to do is disable `scrollZoom`, but I am not sure where to do it.  Thanks!

[2017-08-10 01:37] allthesignals commented on #15
Duplicate of #5 - I forgot I already opened an issue for this, was asked and answered. Oops!

[2017-08-14 00:41] kturney commented on #15
@chriswhong you should be able to pass `scrollZoom: false` in `initOptions`.

I agree the `load` event not firing is not intuitive behavior.
The reason `load` doesn't fire is because the `mapbox-gl` component waits for the load event to yield, so `map.on 'load'` is bound after the load event on the map has already fired. The `mapbox-gl` component does however provide a `mapLoaded` hook that will b

[2017-08-21 19:13] #15 closed, assigned to nobody

[2017-08-21 19:46] kturney opened #18 "Policy on upgrading mapbox-gl-js"
@danielthall @chriswhong @allthesignals what are y'alls thoughts on how ember-mapbox-gl's version should change when upgrading the underlying mapbox-gl-js library?

It seems excessive to bump our major version every time they release a major version, but if we don't we are potentially transitively making breaking changes.

Alternatively, we could have ember-mapbox-gl depend on `"mapbox-gl": "*"` a

[2017-08-21 19:56] allthesignals commented on #18
@miguelcobain, could you weigh in on this? Didn't you have a similar issue with Leaflet pre-1.0 and post-1.0?

I think `"mapbox-gl": "*"` is fine until 1.0, that's when breaking API changes will be introduced, if they are. I'll wait for other thoughts.

[2017-08-21 20:01] kturney commented on #18
So far most of their `0.X` bumps have had breaking changes.

[2017-08-22 11:51] miguelcobain commented on #18
When leaflet 1 was released I major bumped ember-leaflet. But that wasn't a problem. Leaflet doesn't major bump that often and I took the chance to make some breaking changes.

In ember-leaflet I have ember-try scenarios that still test the library with leaflet 0.7. This is very important for some users because some leaflet plugins are still just compatible with this leaflet version.

The strategy

[2017-08-22 14:22] kturney commented on #18
Thanks @miguelcobain. That makes a lot of sense.

[2017-08-31 23:59] #18 closed, assigned to nobody

[2017-09-01 13:52] allthesignals commented on #2
Can we check some of these off?

[2017-09-29 00:40] ynotdraw commented on #4
I'd be happy to lend a hand with this

[2017-09-29 02:19] allthesignals commented on #4
@ynotdraw would love that, especially a slick design for it... I can help with implementation. Should this just be the dummy app in tests? Move the build of it up into a `gh-pages` branch?

[2017-10-01 22:40] ynotdraw commented on #4
@allthesignals sounds like a great plan to me! 👍

[2017-10-03 14:44] allthesignals opened #32 "Bindings for "bounds", "style", other props in mapbox-gl"
I'm running into a use case where we manage styles entirely through `setStyle` of `mapbox-gl` Map class. This lends itself to some intense actions that `fetch` and set a style object using a reference to the map instance's `setStyle` method. This is probably okay, but I can see an argument for a few `mapbox-gl`-level properties that manage `setStyle` and `fitBounds` internally. Using @miguelcobain

[2017-10-03 14:46] miguelcobain commented on #32
IMO, I think that invoking helpers/components on templates for other purposes other than actually rendering things is an anti pattern.

[2017-10-03 16:12] kturney commented on #32
I agree that binding properties to the map feels more embery, but I'm trying to balance that with exposing the full mapbox-gl-js API. Currently, the templates read mostly like one was using the map directly, except with auto-binding to call methods when data changes.

I also worry about handling these property to method mappings and then mapbox changing their API, for example [unifying the camera

[2017-10-03 16:30] allthesignals commented on #32
Gotcha. I'm not sure how much the "bounds" and "style" parts of their API will change or has changed, though, but as you've mentioned before, mapbox-gl-js is a little volatile right now. In my experience, pre- and post-Leaflet 1.0 did not have a tremendous impact on general map position state APIs, so I think ember-leaflet was able implement this property-method binding pattern pre-1.0 (though @mi

[2017-10-03 16:37] kturney commented on #32
hmmmm. I'm also not sure how in that scenario one could pass in options and eventData to fitBounds.

[2017-10-04 16:34] miguelcobain commented on #32
What I did on ember-leaflet was to create a sort of DSL for binding properties, much like we have for `classNameBindings`.
Consider this example on the leaflet-map component:
[code]
from https://github.com/miguelcobain/ember-leaflet/blob/master/addon/components/leaflet-map.js#L42-L46

For example, `'zoom:setZoom:zoomPanOptions',` means "watch for changes in the `zoom` property and call the `setZoo

[2017-10-07 18:51] patodevilla commented on #4
Does anyone have an example of how to use this addon?

[2017-10-07 19:39] kturney commented on #4
hi @patodevilla,

There is a very minimal example in [the dummy app](https://github.com/kturney/ember-mapbox-gl/tree/master/tests/dummy), and I have been slowly working on docs in [the docs branch](https://github.com/kturney/ember-mapbox-gl/tree/docs/docs).

[2017-10-07 21:07] patodevilla commented on #4
Thank you very much @kturney!

[2017-12-13 19:09] allthesignals opened #36 "Cannot find mapbox-gl after upgrade to 0.8.7"
Adding `"mapbox-gl": "^0.42.0",` to devDependencies solves the issue, however.

[code]

[2017-12-13 19:44] kturney commented on #36
strange. the blueprint should have added that to the app

[2018-02-02 01:02] #36 closed, assigned to nobody

[2018-02-02 01:02] #3 closed, assigned to kturney

[2018-03-18 05:17] patodevilla opened #42 "Cannot read property 'removeSource' of undefined"
Anyone else getting this error? I upgraded the version to the current one and started having problems
<img width="1280" alt="screen shot 2018-03-17 at 11 15 34 pm" src="https://user-images.githubusercontent.com/13631576/37562912-380d3c2c-2a39-11e8-89dc-bd47f94f955b.png">

I get this error every time a change to a new route after loading the map. If the maps does not have any layers, it works.

I w

[2018-03-18 05:59] kturney commented on #42
Hi @patodevilla,

Does changing https://github.com/kturney/ember-mapbox-gl/blob/75cffa9ac0fb76bc2a1c5874c6b045d20885a20e/addon/components/mapbox-gl-source.js#L57 to `scheduleOnce('afterRender', this.map, this.map.removeSource, sourceId)` fix the issue for you?

I suspect you're hitting a race condition in which the map has been removed before the we attempt to clean up the removed source. The chan

[2018-03-18 06:31] #42 closed, assigned to nobody

[2018-03-18 06:34] kturney commented on #42
I've published the fix for this in 0.9.1.

Thanks for filing the issue!

[2018-04-02 17:05] allthesignals opened #44 "Check for issues with new ember-cli module unification"
With [module unification](https://github.com/emberjs/ember.js/issues/16373) coming, there may be some issues with addons. The resolver will fallback to classic folder structure, but I've heard about issues that might come up. We could use this issue thread for that.

- [ ] `Uncaught Error: Assertion Failed: 'config' is not a recognized type`

[2018-04-03 18:42] allthesignals opened #45 "Using `hash=true` in mapbox-gl randomly fails test suites containing acceptance tests, throws `getCenter` of undefined"
This seems to happen at random in our test suite, likely has to do with the map object being torn down between acceptance tests. We have seen this in several of our apps, not clear if it's a problem with the addon or mapbox-gl.

[2018-04-03 19:27] kturney commented on #45
Do you have a stacktrace for the error?
Doesn't look like `getCenter` is anywhere in this codebase.

[2018-04-03 19:35] allthesignals commented on #45
Yeah, sorry, `getCenter` is definitely from MapboxGL, but I'm not sure if it's something being torn down incorrectly. We started a fresh app and started seeing it:
<details/>

[code]

</details>

[2018-04-03 19:57] kturney commented on #45
are you providing the hash option to the map? https://www.mapbox.com/mapbox-gl-js/api/

I've never tried to use that.

[2018-04-03 20:02] allthesignals commented on #45
@kturney I sure am! Let me simplify it some more

[2018-04-03 20:05] allthesignals commented on #45
@kturney that was it! The hash feature seems to be doing something. Maybe because it's a special kind of query param and if it's still in the URL in an acceptance test, it will break something.

[2018-04-03 20:06] kturney commented on #45
Seems like they don't cancel their debounce when the map gets destroyed.

[2018-04-03 21:00] kturney commented on #45
are we good to close as a bug in mapbox-gl-js?

[2018-04-03 21:51] allthesignals commented on #45
Yes! Will try to recreate for mapbox-gl-js. Thanks again, @kturney

[2018-04-03 21:51] #45 closed, assigned to nobody

[2018-04-03 22:30] allthesignals commented on #45
Issue opened here: https://github.com/mapbox/mapbox-gl-js/issues/6452.

[2018-04-10 14:40] allthesignals commented on #4
Also heard good things about ember-addon-docs

[2018-04-14 01:11] allthesignals commented on #4
@kturney what is the docs branch you're referring to? I'm starting a new branch using this addon.

[2018-04-14 01:12] ynotdraw commented on #4
@allthesignals I actually worked with @kturney on updating the branch and getting it merged in.  It's currently here: https://github.com/kturney/ember-mapbox-gl/blob/master/API.md

[2018-04-14 01:16] allthesignals commented on #4
@ynotdraw sweet! I'm installing the [addon docs addon](https://ember-learn.github.io/ember-cli-addon-docs/latest/docs/quickstart), and I can start moving your documentation over to it... I'll follow the same page organization. Is that cool?

[2018-04-14 01:19] ynotdraw commented on #4
@allthesignals totally!  That sounds great. Feel free to move things around as they make sense as well!

[2018-04-14 03:15] allthesignals commented on #4
Started a [branch](https://github.com/allthesignals/ember-mapbox-gl/tree/4-documentation), dealing with [some](https://github.com/ember-learn/ember-cli-addon-docs/issues/136#issuecomment-381299313) [issues](https://github.com/ember-learn/ember-cli-addon-docs/issues/149) so it's not working. Waiting for some replies before I can move ahead.

[2018-04-14 19:42] patodevilla opened #46 "Geolocation control remove"
<img width="1280" alt="screen shot 2018-04-14 at 2 38 39 pm" src="https://user-images.githubusercontent.com/13631576/38771932-97e0fb3e-3ff1-11e8-9958-8fb2231be096.png">

I am getting an error when changing route when using the Geolocation control and the user has denied access to location. Is there a way arround this?

This is how I set up the control

`    this.set('geolocationControl',
      new

[2018-04-15 00:17] kturney commented on #46
Hi @patodevilla,

I wonder if this isn't a bug in mapbox-gl-js itself.
Assuming that the undefined thing is this._userLocationDotMarker at https://github.com/mapbox/mapbox-gl-js/blob/9090d101e6b6d3f06b9a9e49d54dca4c22bcae74/src/ui/control/geolocate_control.js#L132 and then it was never assigned at https://github.com/mapbox/mapbox-gl-js/blob/9090d101e6b6d3f06b9a9e49d54dca4c22bcae74/src/ui/control/g

[2018-04-24 17:38] allthesignals opened #48 "Popup component should yield `on` contextual component"
Mapbox events aren't global and are scoped to certain instances of objects like popup. Would it make sense for `mapbox-gl-popup` to yield out a hash with the `mapbox-gl-on` component?

[code]

[2018-04-24 17:51] allthesignals commented on #48
Can be achieved in the `mapbox-gl-popup.hbs` template like this:

[code]

[2018-04-24 17:56] kturney commented on #48
seems reasonable

[2018-04-24 18:00] allthesignals commented on #48
PR'd, thanks

[2018-05-15 21:30] #48 closed, assigned to nobody

[2018-05-25 20:31] allthesignals opened #53 "Integration with ember-cli-mirage"
I would like to setup [ember-cli-mirage](http://www.ember-cli-mirage.com/docs/v0.4.x/) such that all XHR requests emitted from core `mapbox-gl` work with the Mirage [`passthrough`](https://www.ember-cli-mirage.com/docs/v0.4.x/configuration/#passthrough) API.

Here's what I've found so far:
1. MapboxGL's request for the style JSON object throws an ["AJAXError (200)"](https://github.com/samselikoff/

[2018-05-25 20:43] allthesignals commented on #53
When I set breakpoints in the Style.addSource prototype, the first time it's called, ID is `"composite"`, second time, `"composite"`.

[2018-05-25 21:24] allthesignals commented on #53
In mapbox-gl, this gets called twice with the same data:

[code]

So, I think somehow this callback isn't working because PretenderJS is doing something else? Not sure.

[2018-05-25 21:35] kturney commented on #53
if you put a breakpoint here https://github.com/pretenderjs/FakeXMLHttpRequest/blob/master/src/fake-xml-http-request.js#L173, are there multiple listeners? I'm wondering if somehow the callback is getting doubled up

[2018-05-25 21:44] allthesignals commented on #53
Hmm I checked - the length of the `listeners` array is always either 0 or 1

[2018-06-06 19:16] allthesignals commented on #53
This seems to work:

EDIT:
Here's where I actually landed, still very sloppy, but it does not break tests:

Cache the native XMLHttpRequest here:
https://github.com/NYCPlanning/labs-applicantmaps/blob/develop/app/app.js#L6

Before a request is made, swap in the FakeXMLHttpRequest:
https://github.com/NYCPlanning/labs-applicantmaps/blob/develop/app/adapters/application.js#L6-L8

~Use the mapbox tran

[2018-06-06 19:37] allthesignals commented on #53
What a mess, I would advise against that!!

[2018-06-14 19:52] kturney commented on #53
in my app I've ended up with this monkeypatch that I call as the first line in my mirage config function. Seems to be working.

[code]

[2018-06-14 20:11] allthesignals commented on #53
@kturney muuuuch smarter! Target the `send` method, of course. Nice. I'll give this a try.

[2018-10-16 13:48] allthesignals opened #59 "Make `accessToken` optional"
Right now, we require `accessToken` in the environment for this addon to work, but it's possible to host your own open base styles. Happy to PR this but can you see any issues with this?

[2018-10-16 13:52] kturney commented on #59
seems fine. I think mapbox will error on its own if it needs an accessToken and doesn't have one.

[2018-10-16 14:15] allthesignals commented on #59
Great. I can just have it warn instead which are [stripped](https://emberjs.com/api/ember/release/modules/@ember%2Fdebug) from production builds.

It also requires a general config object:

`assert('mapbox-gl config is required in config/environment', mbglConfig);`

I worry this might create confusion especially when instantiating multiple maps. It should be considered a global configuration (but

[2018-10-16 14:17] allthesignals commented on #4
Hi! What would you like to see for this to work? I don't know if I have enough permissions to this repository to _deploy_ something to Github pages. I could perhaps PR something to `gh-pages` branch, but built-in deployer is opinionated enough that it wants collaborator access.

[2018-10-16 15:16] kturney commented on #4
could we make sure we are on latest addon-docs?
I can try to do a deploy this weekend.

[2018-10-16 15:20] allthesignals commented on #4
Will do - thanks @kturney!

[2018-10-16 15:41] kturney commented on #59
I spose we could only show the warning for the first mapbox-gl component rendered.
Maybe a future enhancement.

[2018-10-16 15:41] #59 closed, assigned to nobody

[2018-10-25 21:13] allthesignals opened #63 "Fastboot friendliness"
I've started working with Fastboot and would like to make `ember-mapbox-gl` "turn off" its import of `mapbox-gl` during Fastboot mode. There are a few approaches to this:

1) Conditionally import mapbox-gl using `app.import` and make it globally available - this is how `ember-leaflet` works. Here is a working example: https://github.com/allthesignals/ember-mapbox-gl/tree/fastboot-compatible.

2) S

[2018-10-26 04:18] kturney commented on #63
seems like as good a reason as any to actually implement lazy auto loading.

[2018-12-06 08:56] danieledraganti commented on #63
Hello everyone, any news about this? I am trying to implement a lazy-loading in-repo engine with this addon, and I am facing more or less of the same problem. I would need to include mapbox-gl in my host app but the point of the engine is exactly not having to do this...
Lazily loading the libraries would be excellent.

[2018-12-07 16:25] allthesignals commented on #63
Hi @danidr! I have a branch linked above - I haven't looked at it in a while. It might take quite a bit of work to refactor, but I'm not sure.

Feel free to take a stab. I don't actually use a lot of fastboot in my work so I probably won't get aroudn to doing it.

FWIW, I prefer option 2 - I don't like the idea of having something globally available. It might screw up automated testing.

[2018-12-08 22:29] allthesignals opened #66 "Support dependency injection"
The dependency injection pattern makes integration testing a lot easier because test writers can mock certain "difficult" dependencies and inject them into the subject component.

Currently, it's not fully possible to inject a mapbox-gl map instance into the mapbox-gl component. While this is fully supported in its other yielded components, it may be necessary for addon consumers to spin up a wrap

[2018-12-10 11:53] danieledraganti commented on #63
Hello @allthesignals, and thank you!
This is not a very Ember-y way, so I agree entirely about option 2 – I'll see what I can manage to do with the global library anyway.
Cheers!

[2018-12-11 09:25] kturney commented on #66
how would we set the component's element as the map's container in the case of an injected map?

[2018-12-11 16:07] allthesignals commented on #66
Actually, we could just pass a preset object:

[code]

Then, `mapbox-gl` can just instantiate it with `new` like normal, except it'll use the passed dependency here:
https://github.com/kturney/ember-mapbox-gl/blob/master/addon/components/mapbox-gl.js#L87

The component would set the container like normal.

This worked pretty nicely for us with Draw:
https://github.com/NYCPlanning/labs-applicantmap

[2018-12-13 21:43] kturney commented on #63
published as 0.13.0

[2018-12-13 21:43] #63 closed, assigned to nobody

[2019-01-23 05:02] reticulan opened #69 "update marker position"
I'm newbee and maybe this question is super easy, but I don't understand this. How I can change marker data from component? I do it through set(), coordinates of marker changes, but marker itself doesn't change position on the map.

[2019-01-23 05:26] kturney commented on #69
You can bind the coordinates to the `lngLat` property of the marker component.

https://github.com/kturney/ember-mapbox-gl/blob/master/addon/components/mapbox-gl-marker.js#L20

[2019-01-24 01:01] reticulan commented on #69
@kturney thanks a lot!

[2019-02-04 04:30] reticulan opened #70 "Add popup to marker"
Hello! I see several ways of adding popup:
1) Version of popup from your popup example:
[code]
this version raises "array is not a helper".
2) Instead of lngLat set marker.  I have valid geojson markers, they displayd on the map, but popup not worked, this version raises "setPopup is not a function" here:
https://github.com/kturney/ember-mapbox-gl/blob/e10e296b7cb10136a9641694cb01cb36caae7c5e/addo

[2019-02-04 05:10] kturney commented on #70
If you would like to use the array helper, there are a few places to get it.
1. It is built in as of [Ember 3.7](https://www.emberjs.com/api/ember/3.7/classes/Ember.Templates.helpers/methods/array?anchor=array)
2. The very nice [ember-composable-helpers](https://github.com/DockYard/ember-composable-helpers#array)
3. A [stand alone add-on](https://github.com/kellyselden/ember-array-helper)
4. Or it

[2019-02-04 05:10] #69 closed, assigned to nobody

[2019-02-04 05:10] #46 closed, assigned to nobody

[2019-02-04 05:53] reticulan commented on #70
@kturney thank you! sorry for my newbie questions

[2019-02-04 06:12] kturney commented on #70
No problem! Glad I could help.

[2019-02-04 06:12] #70 closed, assigned to nobody

[2019-02-15 11:13] AndreJoaquim opened #71 "Export mapbox-gl module"
When you use this add-on with the `lazyLoad` option to true, the `_loader` private property from the `mapbox-gl` component could set a `mapbox-gl` property containing the library that was loaded.

This way, the consuming app didn't have to import the `mapbox-gl` again, rather using the exposed variable containing the module.

[2019-02-18 00:20] kturney commented on #71
The `mapbox-gl` component [exposes the `_map` property](https://github.com/kturney/ember-mapbox-gl/blob/e10e296b7cb10136a9641694cb01cb36caae7c5e/addon/components/mapbox-gl.js#L60). Is that enough for your purposes?

[ember-auto-import](https://github.com/ef4/ember-auto-import) (which ember-mapbox-gl uses) should support an app either dynamically or statically importing mapbox-gl-js and using the s

[2019-02-19 11:34] AndreJoaquim commented on #71
The `_map` property is not enough for my purposes, because it only exports the `map` instance. I wanted the `mapbox-gl` dynamically imported "instance", i.e. [`_loader.Mapbox`](https://github.com/kturney/ember-mapbox-gl/blob/e10e296b7cb10136a9641694cb01cb36caae7c5e/addon/components/mapbox-gl.js#L61)

ember-auto-import allows the dynamic import, that you use on this add-on. However, in my consuming

[2019-02-20 11:38] AndreJoaquim commented on #71
@kturney It seems that `ember-auto-import` automatically imports the same instance of the library. I'm closing this issue. Thanks for the help!

[2019-02-20 11:38] #71 closed, assigned to nobody

[2019-02-21 15:48] JeffreyToyotaConnected opened #73 "Mapbox drawing an egg shape for a large circle"
Uncle Jerel's perfect circle code is not generating a perfect circle on the map.  Any idea why this could be happening?

<img width="615" alt="screen shot 2019-02-21 at 9 35 17 am" src="https://user-images.githubusercontent.com/45950419/53181712-b39cce80-35bd-11e9-9a81-73bdae23d77d.png">

[2019-02-21 15:59] #73 closed, assigned to nobody

[2019-10-02 22:28] maprules1000 opened #81 "Could not find module `ember-mapbox-gl/-private/mapbox-loader`"
I upgraded the version of ember-cli in our app from `~3.7.1` to `~3.13.1` and I'm consistently getting this error in tests:

`Error: Could not find module 'ember-mapbox-gl/-private/mapbox-loader' imported from 'ember-mapbox-gl/components/mapbox-gl'`

I dug into it as much as I could with my slight broccoli knowledge and it seems like this [lazy loading PR](https://github.com/kturney/ember-mapbox-g

[2019-10-02 22:49] kturney commented on #81
Sorry about that, and thanks for the issue!
The loader code always did feel a bit hacky :-).
I’ve been contemplating just having ember-mapbox-gl always dynamically load mapbox-gl, so maybe it’s time for me to just do it.

[2019-10-03 13:44] maprules1000 commented on #81
Coolio, I can open up a PR for that if it's as simple as removing the static loader and the broccoli tree code.

~Just curious, what was the motivation behind having a static and dynamic loader?~

Ah, I think I see now. It looks like fastboot compatibility was the motivator, which is also a necessity for us.

I'm going to take a whack at some stuff today and I'll open up a PR if I find anything go

[2019-10-03 14:14] kturney commented on #81
The original behavior was static loading, and I wanted to add dynamic loading without making a breaking change.

[2019-10-03 19:28] kturney commented on #81
Aiming to fix with https://github.com/kturney/ember-mapbox-gl/pull/82.

After that is merged, I'm going to do a follow on PR updating versions of things, and then I'll publish a new version.

[2019-10-04 00:18] kturney commented on #81
published in `0.16.0`

[2019-10-04 00:20] kturney commented on #4
finally published! https://kturney.github.io/ember-mapbox-gl

[2019-10-04 00:20] #4 closed, assigned to nobody

[2019-10-07 20:15] kturney commented on #81
hi @maprules1000, have you had a chance to check that `0.16.0` fixes your issue?

[2019-10-16 18:29] vasilakisfil opened #84 "Documentation in gh-pages broken?"
Thanks for this awesome addon!

Anything past Installation link doesn't seem to work, for instance [The Container](https://kturney.github.io/ember-mapbox-gl/versions/v0.16.0/docs/container) is the same as Installation.

Is that expected ?

[2019-10-16 18:46] kturney commented on #84
hi @vasilakisfil.
The link in your issue loaded to the correct spot for me.
<img width="1430" alt="Screen Shot 2019-10-16 at 1 45 42 PM" src="https://user-images.githubusercontent.com/675967/66949010-5efe0600-f01b-11e9-93f9-8d3f70644534.png">

What error are you seeing?

[2019-10-16 19:05] vasilakisfil commented on #84
@kturney the problem (I think it's a problem?) is that all links on the side load the same page (the installation one), the one that says in the top `Note: The example below uses ember-composable-helpers`. All except Introduction and Installation.

[2019-10-16 19:06] vasilakisfil commented on #84
hmm from what I see, all pages load the docs from here: https://github.com/kturney/ember-mapbox-gl/tree/master/tests/dummy/app/templates/docs where basically docs for other pages are the same as Installation. So I think the issue is that docs are missing, right ?

[2019-10-16 19:11] kturney commented on #84
ah. I see now. The title on the page changes, but the content is the same.
very strange!
I'll take a look.
Thanks for reporting!

[2019-10-20 18:02] kturney commented on #84
hi @vasilakisfil,

I've fixed the immediate issue [on master](https://github.com/kturney/ember-mapbox-gl/commit/f516907befdbfe53ddc888146d5f72f725e8f753).
Thanks again for submitting the issue!

corrected docs here: https://kturney.github.io/ember-mapbox-gl/versions/master/docs/

[2019-10-20 18:02] #84 closed, assigned to nobody

[2019-10-20 18:02] #81 closed, assigned to nobody

[2019-12-27 01:13] kushthedude opened #85 "Error on Building App with `ember-mapbox-gl`"
I just migrated my app from `ember-g-map` to `ember-mapbox-gl` whenever I fire up my application, it runs into this error :
[code]

[2019-12-27 01:14] kushthedude commented on #85
Our app is on Ember-CLI 3.10 with fast boot enabled. @kturney Any solution or reason why such behaviour is present.

[2019-12-27 02:14] kturney commented on #85
Hi @kushthedude,

I personally haven’t used fastboot, but I think that error is caused by mapboxgl accessing something browser specific.

I think the easiest solution will be to only render the mapbox-gl when in the browser via an if in the template.

[2019-12-27 05:29] kushthedude commented on #85
Hey @kturney , Thanks for your quick reply.

I got to know something I was booting on development environment in which Fastboot is disabled, Also not to mention I am rendering the example template only. I am still getting this error. Is it to do anything with the version of `Brocolli-persistent-filter`, I am at 2.0 ?

[2019-12-27 05:34] kushthedude commented on #85
Upgrading the filter isn't any good .

[2019-12-30 17:36] kturney commented on #85
can you post the content of the error log mentioned?
`/var/folders/05/32b0q3c134b032psxm8569f80000gn/T/error.dump.1b86d868572b84d644fcddbf9b9cb36b.log`

[2020-05-05 23:50] #85 closed, assigned to nobody

[2020-05-06 05:56] #2 closed, assigned to kturney

[2020-05-06 05:57] #10 closed, assigned to nobody

[2020-05-06 05:58] #32 closed, assigned to nobody

[2020-05-06 05:58] #44 closed, assigned to nobody

[2020-05-06 05:59] #53 closed, assigned to nobody

[2020-06-04 19:11] gabrielgrant opened #89 "map sometimes fails to load"
Thanks a ton for this addon -- overall makes it waaay nicer than having to deal with all the lifecycle stuff manually -- but finding that I'm sometimes getting a blank map rendered:

![image](https://user-images.githubusercontent.com/493968/83798500-32a20300-a659-11ea-9d75-c5e1083ee0ff.png)

For context, here's what it looks like when it works:

![image](https://user-images.githubusercontent.com/4

[2020-06-05 03:23] kturney commented on #89
Hi @gabrielgrant, that sounds like a tricky one!
If an error occurs during loading, the map component [yields the error that occurred](https://github.com/kturney/ember-mapbox-gl/blob/05f918499e17d811ca2154e0e7fc8c3f7f3aed15/addon/templates/components/mapbox-gl.hbs#L17), so the first thing I would check is if there is any useful information in the error.
The error should also [have an `event` prope

[2020-06-09 16:27] gabrielgrant commented on #89
Ah, thanks for the reply, @kturney -- hadn't noticed that I could get the error with the inverse block. But I don't believe there was any error being thrown (/auto-logged), AFAICT it was just hanging before the onLoad event fires

Did find a [few](https://github.com/mapbox/mapbox-gl-js/issues/6707) [mapbox](https://github.com/mapbox/mapbox-gl-js/issues/6708) [issues](https://github.com/mapbox/mapb

[2020-06-09 16:39] gabrielgrant opened #91 "old markers are not removed when backing data changes"
I'm generating `<map.marker>` instances by iterating over an array that is created (in a getter) based on model data. Elsewhere in the same template, I'm also looping over the same array in order to display card entries corresponding to the markers. When the model changes (with a `<LinkTo>`), the list of cards and the map both update to show the new entries. But the map also still has all the old

[2020-06-09 17:31] kturney commented on #91
Hi @gabrielgrant, if you are able to share some code/code snippets, hopefully I can help you track down the issue.

[2020-06-09 17:40] kturney commented on #89
I'll go ahead and close because it sounds like some form of caching issue within mapbox itself.
If you do manage to track down some error case that we missed exposing, please let me know!

[2020-06-09 17:40] #89 closed, assigned to nobody

[2020-06-11 05:39] gabrielgrant commented on #91
Hey @kturney thanks for the quick reply, and sorry for taking a couple days to get back to this. Got a staging version up that shows the issue here: https://bb.gabrielgrant.ca/search-map/restaurants/around/Vancouver,%20BC,%20Canada

If you move the map it will pop up a button to redo the search centered on the new map center. Either clicking that (or just searching for a new location) will change

[2020-06-11 05:47] gabrielgrant commented on #91
Also, just to make sure it doesn't cause confusion: you may notice an error showing up in the browser console that `this.model.viewport.contains is not defined`. This isn't actually an unhandled exception, though -- for some reason i just used `console.error` in lieu of `console.log` for that message 🤦 AFAICT there are no actual errors

[2020-06-13 20:58] kturney commented on #91
Hi @gabrielgrant, I poked around with the ember inspector a bit, and I'm inclined to think something is going on with `paginatedResults` and ember's each.

I can see that there are only 20 `restaurant-card` elements in the DOM, but the ember inspector shows the same number of `RestaurantCard` and `MapboxGlMarker` components.

Some of the issue could depend on how the objects in the `paginatedResul

[2020-06-18 21:00] gabrielgrant commented on #91
Hey @kturney thanks again for the reply, and sorry for again taking a while to get back to this.

Thanks for the link, that's definitely a bit of a weird gotcha that I hadn't come across before. That being said, AFAICT it doesn't seem to be applicable in this case: the problem there seems to be multiple items in the iterated array that have identical identity, causing Ember's to not replace DOM el

[2020-06-18 21:00] gabrielgrant commented on #91
Filed an issue about this on the ember repo: https://github.com/emberjs/ember.js/issues/19020

[2020-06-18 21:00] #91 closed, assigned to nobody

[2020-11-06 19:40] beerlington opened #95 "How to handle MapboxLoaderCancelledError"
We're seeing some exceptions in our application related to this error and it's not clear why this exception is thrown or how it's intended to be used. Is this an exception we should be concerned with or is it just being used for flow control?

We're hitting both of these occasionally:

https://github.com/kturney/ember-mapbox-gl/blob/e2408d4c8c37136b524912e02494e7c0ad55e7a1/addon/-private/mapbox-lo

[2020-11-07 00:25] kturney commented on #95
Hi Peter,

You are correct. That error is just used for flow control. It will be thrown if a map component is created and then destroyed before loading completes.

I would have expected https://github.com/kturney/ember-mapbox-gl/blob/e2408d4c8c37136b524912e02494e7c0ad55e7a1/addon/-private/mapbox-loader.js#L117 to detect the thrown exception though, so it does seem like a bug that it is still getti

[2020-11-08 04:42] kturney commented on #95
Hi Peter,

To try to reproduce the situation that you are encountering I added this test locally
[code]

After adding some logs, I can see that this test does cancel the map load before it is complete, causing a `MapboxLoaderCancelledError` to be thrown. However, the error appears to be properly detected and no console.error is logged. Are there anymore details you can provide? For instance, is th

[2020-11-09 16:37] beerlington commented on #95
@kturney I'm seeing it on a variety of browsers, but the most common seem to be desktop Safari on Mac (11.1, 12.1, 14.0), mobile Safari on iOS (13, 14), and whatever browser Instagram uses on iOS. I don't see desktop Chrome or Firefox in any of the error reports we've received.

[2020-11-11 03:55] kturney commented on #95
I was also unable to reproduce this in desktop Safari 14.0.
Would you be able to provide a test case or reproduction?
Or maybe one of the stack traces from an error report?

[2021-03-30 16:01] #66 closed, assigned to nobody

[2021-03-30 16:01] #95 closed, assigned to nobody

[2021-11-04 03:19] allthesignals opened #110 "Should mapbox-gl-layer allow blocks?"
When invoked without explicit ID, Source and Layer IDs are private and generated automatically:

[code]

If you want to do anything specific to that layer, such as hover events, `<HoverableLayer />`, clicking, etc, you'll need to manage your own IDs, and this can get unwieldy and ultimately break the experience of composing layers (as visual elements) inside the templates.

It would be helpful to

[2021-11-04 03:28] kturney commented on #110
So mostly you'd like source and layer to yield their IDs? Seems reasonable enough.

[2021-11-04 03:30] allthesignals commented on #110
Yup! Will PR something just wanted to check with you

[2021-11-04 03:33] kturney commented on #110
sounds great!

[2021-11-04 19:14] #110 closed, assigned to nobody

[2021-11-09 07:34] allthesignals opened #117 "Future of mapbox-gl-on?"
mapbox-gl-on helps with binding events and tearing them down afterward. It's super convenient!

That said, it seems a bit awkward as a component...

Would it be more appropriate as a modifier? Custom modifier?:
[code]

Or, we can keep the `map.on` component, and give it some more features as a contextual component:
[code]

Not sure what the drawbacks of the latter would be but I've been playing ar

[2021-11-09 18:12] kturney commented on #117
Good questions.
I'm currently working on trying to get things updated to 3.28 land with all deprecations fixed.
https://github.com/kturney/ember-mapbox-gl/pull/113
I've got a ways to go, but something will have to change for the new ember ways.

[2021-11-09 19:30] allthesignals commented on #117
Cool! Might take a look and see if I can chip in.

[2021-12-26 03:38] kturney commented on #117
Heya @allthesignals, I finally got around to merging the 3.28 updates and fast-followed with the 4.0 updates.
Published 2.0 since we dropped support for < ember 3.24.

I looked into how we might change ember-mapbox-gl to be more modern Embery.
I think what we'd ultimately want is heavy use of [Effects](https://www.pzuraq.com/introducing-use/#effects) (which don't exist yet). Turns out 4.0 didn't a

[2022-06-30 22:31] allthesignals commented on #81
Upgrading some stuff and seeing this:

[code]

Going to try 1.0+ versions...

Full dump:
[error.dump.ac88d2a5a5d4a8efc816304fb8ac4c88.log](https://github.com/kturney/ember-mapbox-gl/files/9023754/error.dump.ac88d2a5a5d4a8efc816304fb8ac4c88.log)

[2022-08-15 19:39] johanrd opened #122 "Cannot find module '.pnpm/package.json' when running ember-mapbox-gl with pnpm"
1. Clone https://github.com/johanrd/ember-mabox-gl-pnpm-repro or create a fresh ember app with pnpm:
[code]

2. Run `pnpm start` and experience the following error:
[code]

[code]

Possibly related to [dynamic imports](https://github.com/kturney/ember-mapbox-gl/blob/58936d68d752d0fa427b95d03a8b195b17ac29f6/tests/dummy/app/templates/docs/index.md#static-build)?

[2022-08-22 19:21] kturney commented on #122
Hi @johanrd, thanks for the issue.

I've never used pnpm myself.

Does it seem at all related to https://github.com/ef4/ember-auto-import/issues/353?